@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CRM;
@{
    ViewData["Title"] = "Customer Home Page";
}

<style>
    .customerList {
        padding: 20px;
        width: 500px;
        margin: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    table tr td {
        padding: 10px;
        vertical-align: middle;
    }

    .customerList img {
        width: 70px;
        height: 70px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .btn {
        margin-left: 30%;
        background-color: #4CAF50;
        color: #ffffff;
    }

    button:hover {
        background-color: #45a049;
    }
</style>

<div>
    <h1>Customer Catelog</h1>
    <a href="/Customer/Insert"><button class="btn">Insert new Customer</button></a>
    @{
        List<Customer> customers = (List<Customer>) ViewData["allCustomers"];

        <div class="customerList">
            <table>
                @foreach(Customer customer in customers)
                {
                    <tr>
                        <td><img src="/images/customers/user.png" width="20" height="20" /></td>
                        <td>
                            <h5>@customer.Name</h5>
                            <p> @customer.ContactNumber</p>
                        </td>
                        <td><a href="/Customer/Details/@customer.Id"> <button>Details</button></a></td>
                    </tr>
                }
            </table>
        </div>
        <a href="/ShoppingCart/Index/"><button value="details">All Customer Cart</button></a>
    }
    <hr>
    <hr>
    
</div>